<% @secrets.each do |secret| %>
	<p><%= secret.content %></p>
	<p><%= secret.likes.count %> Likes</p>
	<% if current_user == secret.user %>
	<form action="/secrets/<%= secret.id %>" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete">
	</form>
	<% end %>
	<% if secret.users.include?(current_user) %>
	<form action="secrets/<%= secret.id %>/likes/<%= Like.find_by(user: current_user, secret: secret).id %>" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Unlike">
	</form>
	<% else %>
	<form action="secrets/<%= secret.id %>/likes/new" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="submit" value="Like">
	</form>
	<% end %>
<% end %>